
.c-app-container {
    width: 100%;
    min-height: 100vh;
}

.c-btn {
    font-size: 1rem;
}

.c-btn-l {
    font-size: 1.2rem;
}

.c-list-text {
 font-size: 1.1rem;
}

.c-list-text-l {
    font-size: 1.2rem;
}

.c-link-text {
    font-size: 1rem;
}

.c-input-text {
    font-size: 1rem;
}

.c-line-through {
    text-decoration: line-through;
}



